@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #D7FAE7;
    --secondary-color: #3F3D56;
    --white: #FFFFFF;
    --black: #000000;
    --font-sm: "16px";
    --font-md: "24px";
    --font-xl: "32px";

    /*========transition===========*/
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}